{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form action=""  method="POST">
            {% csrf_token %}
            <fieldset calss = "form-group">
                <legend class = 'border-bottom mb-4'>Blog Post</legend>
                <!-- form.as_p , this as_p will render our form tags in paragraph tags. -->
                {{ form| crispy }} 
            </fieldset>
            <!-- SUBMIT BUTTON -->
            <div class = "form-group">
                <button class="btn btn-outline-info" type = 'submit'>Post</button>
            </div>
        </form>
    </div>
{% endblock content %}